@import url(./vendor/normalize.css);
@import url(./vendor/font.css);

/* -------------------- */
/*    Utility classes   */
/* -------------------- */

:root {
  /* colors */
  --clr-white: #FFFFFF;
  --clr-transparent: transparent;
}

.page {
  max-width: 929px;
  font-family: 'Nunito', Arial, sans-serif;
  font-weight: 400;
  line-height: normal;
  background: var(--clr-white);
  color: var(--clr-white);
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html:has(.popup_opened) {
  overflow: hidden;
}

.no-scroll {
  width: initial;
  height: auto;
  position: static;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

/* WebKit */
.no-scroll::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@media (hover: hover) {
  .no-scroll {
    padding-right: 15px;
  }
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.bronkhipret {
  position: relative;
  background: linear-gradient(180deg, #97BE0D 2.15%, #E7EEC6 18.31%);
}

.bronkhipret__header {
  padding: 59px 15px 56px 30px;
  box-sizing: border-box;
}

.bronkhipret__title {
  margin: 0 0 20px;
  padding: 0;
  font-size: 64px;
  font-weight: 800;
  line-height: 118.4%;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  text-align: center;
  filter: drop-shadow(2px 2px 21px #53781D);
}

.trademark {
  position: relative;
}

.trademark:after {
  content: "\00AE";
  position: absolute;
  display: block;
  width: 19px;
  height: 29px;
  font-family: 'Verdana';
  font-size: 24px;
  font-weight: 700;
  top: -19px;
  right: -19px;
}

.bronkhipret__subtitle {
  margin: 0 0 48px;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.36px;
  text-align: center;
  color: #003381;
}

.bold-text {
  font-weight: 900;
}

.reset-button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: 0;
  border-style: none;
  background-color: var(--clr-transparent);
  cursor: pointer;
  box-sizing: border-box;
  transition: all .3s linear;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: transparent;
}

.bronkhipret__link {
  display: block;
  width: 462px;
  margin: 0 auto;
  padding: 28.5px;
  font-size: 26.075px;
  font-weight: 500;
  color: var(--clr-white);
  border-radius: 13.037px;
  background: #97BE0D;
  box-shadow: 2.60748px 2.60748px 28px 0 rgba(40, 69, 7, 0.70);
}

@media (max-width: 650px) {
  .bronkhipret__header {
    padding: 54px 11px 45px 8px;
  }
  .bronkhipret__title {
    margin-bottom: 26px;
    font-size: 44px;
    line-height: 127.9%;
    letter-spacing: 1.1px;
  }
  .trademark:after {
    content: "\00AE";
    position: absolute;
    display: block;
    width: 15px;
    height: 22px;
    font-size: 18px;
    top: -15px;
    right: -15px;
  }
  .bronkhipret__subtitle {
    margin-bottom: 40px;
    font-size: 21px;
    letter-spacing: -0.315px;
  }
  .bronkhipret__link {
    display: block;
    width: 332px;
    padding: 21.25px 12px;
    font-size: 21px;
    border-radius: 16px;
    box-shadow: 0 2px 19px 0 rgba(5, 29, 5, 0.35);
  }
}

.cta__text {
  margin: 0;
  padding: 28px 90px 32px;
  font-size: 34.186px;
  font-weight: 600;
  text-align: center;
  background: linear-gradient(180deg, #2962A9 24.4%, #1A4478 89.59%);
}

.aim {
  position: relative;
}

.aim:after {
  content: "";
  position: absolute;
  display: block;
  width: 37px;
  height: 33px;
  background-image: url('./images/aim_icon.svg');
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 7px;
  right: -48px;
}

.cta__field {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center;
}

@media (max-width: 650px) {
  .cta__text {
    padding: 24px 12px 29px;
    font-size: 21px;
  }
  .aim:after {
    width: 28px;
    height: 26px;
    bottom: 0;
    right: -34px;
  }
}

.bronkhipret__footer {
  position: absolute;
  bottom: 63px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.bronkhipret__copyright {
  padding: 0;
  margin: 0;
  font-family: 'Verdana';
  font-weight: 700;
  font-size: clamp(0.5625rem, 0.1555rem + 1.6698vw, 1.125rem);
  line-height: 18.904px;
  letter-spacing: -0.268px;
  text-align: center;
  opacity: 0.8;
}

.bronkhipret__copyright-link {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 650px) {
  .bronkhipret__footer {
    bottom: 24px;
  }
}

/* Popup */

.cta__content {
  position: relative;
}

.popup {
  position: absolute;
  /*display: flex;*/
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .25);
  /*justify-content: flex-start;*/
  /*align-items: center;*/
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  visibility: hidden;
  opacity: 0;
}

.transition {
  transition: visibility .5s, opacity .6s linear;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
  overscroll-behavior: contain;
}

.popup__container {
  position: relative;
  width: clamp(18.125rem, 3.247rem + 61.04vw, 38.688rem);
  height: clamp(17.75rem, 3.188rem + 59.74vw, 37.875rem);
  margin: auto;
  padding: 4.75% 9% 3%;
  box-sizing: border-box;
  background-image: url('./images/popup_bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.button_type_close {
  position: absolute;
  top: 10.5%;
  right: 14.5%;
  width: 14.54%;
  height: 14.86%;
  background-image: url('./images/close_icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media (max-width: 600px) {
  .popup__container {

  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popup_type_about[id="about-general"] .about {
  right: -10%;
  top: 6.5%;
}

.popup_type_about[id="about-info"] .about {
  left: -10%;
  top: 5%;
}

.popup_type_about[id="about-drops"] .about {
  left: -12%;
  top: 9%;
}

.popup_type_about[id="about-peels"] .about {
  right: -4%;
  top: 4%;
}

.popup_type_about[id="about-components"] .about {
  right: -14%;
  top: 16%;
}

.popup_type_about[id="about-inhalation"] .about {
  right: -12%;
  top: 33%;
}

.popup_type_about[id="about-drops-forms"] .about {
  right: -11%;
  top: 33%;
}

.popup_type_about[id="about-peels-forms"] .about {
  right: -12%;
  top: 42%;
}

.popup_type_about[id="about-recommendations"] .about {
  left: -14%;
  top: 44%;
}

.about__text {
  margin-top: auto;
  margin-bottom: 10px;
  font-family: 'Verdana';
  font-size: clamp(0.75rem, 0.1169rem + 2.5974vw, 1.625rem);
  font-weight: 400;
  line-height: 134.023%;
  text-align: center;
  color: #000000;
}

.popup_type_about[id="about-peels"] .about__text {
  font-size: clamp(0.625rem, -0.099rem + 2.97vw, 1.625rem);
  letter-spacing: -0.26px;
}

.popup_type_about[id="about-components"] .about__text {
  margin-top: 0;
  letter-spacing: -0.65px;
}

.popup_type_about[id="about-inhalation"] .about__text {
  letter-spacing: -0.65px;
}

.popup_type_about[id="about-recommendations"] .about__text {
  letter-spacing: -0.65px;
}

@media (max-width: 600px) {
  .popup_type_about[id="about-peels"] .about__text {
    letter-spacing: -0.1px;
  }
}

.about__text_type_caption {
  margin-top: 0;
  font-size:clamp(0.75rem, 0.298rem + 1.86vw, 1.375rem);
  letter-spacing: -0.55px;
}

.components {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  font-family: 'Verdana';
  font-size: clamp(0.75rem, 0.1169rem + 2.5974vw, 1.625rem);
  font-weight: 400;
  line-height: 134.023%;
  letter-spacing: -0.65px;
  color: #000000;
}

.accent-text {
  font-weight: 700;
}

.sup {
  top: -0.7em;
  right: 0.5em;
  font-size: clamp(0.41rem, 0.073rem + 1.38vw, 0.875rem);
}

.about__image {
  width: clamp(5.825rem, 1.04rem + 19.63vw, 12.438rem);
  height: clamp(5.181rem, 0.926rem + 17.46vw, 11.063rem);
  display: block;
  object-fit: contain;
  object-position: center;
}

.popup_type_about[id="about-peels"] .about__image {
  width: clamp(5rem, 2.558rem + 10.02vw, 8.375rem);
  height: clamp(4.5rem, 2.284rem + 9.09vw, 7.563rem);
}

.about__doses {
  padding: 0 8px;
  margin: 0;
  font-family: 'Verdana';
  font-size: clamp(0.75rem, 0.433rem + 1.3vw, 1.188rem);
  letter-spacing: -0.285px;
  box-sizing: border-box;
  border-radius: 4px;
  background: #294707;
}

.doses {
  display: flex;
  padding: 0;
  list-style-type: none;
  gap: 12.5px;
  font-family: 'Verdana';
  font-size: clamp(0.539rem, 0.347rem + 0.79vw, 0.803rem);
  letter-spacing: -0.129px;
  color: #000000;
}

.dose {
  border-radius: 4.31px;
  border: 1.231px solid #294707;
  padding: 5px;
  box-sizing: border-box;
}

.dose__who {
  padding: 0;
  margin: 0;
}

.dose__quantity {
  padding: 0;
  margin: 0;
  font-weight: 700;
}

.dose__frequency {
  position: relative;
  padding: 0 0 0 19px;
  margin: 0;
  font-weight: 700;
}

.dose__frequency:before {
  content: "";
  position: absolute;
  display: block;
  width: 18px;
  height: 17px;
  background-image: url('./images/peel_icon.svg');
  background-repeat: no-repeat;
  background-size: contain;
  top: 0;
  left: 0;
}

.qty-text {
  font-size: clamp(0.346rem, 0.223rem + 0.5vw, 0.516rem);
  font-weight: 400;
  color: #294707;
}

.dose__qty {
  display: flex;
  align-items: center;
  gap: 3px;
}

.dose__qty .dose__frequency {
  padding-left: 22px;
  display: flex;
  align-items: center;
  gap: 3px;
}

.dose__qty .dose__frequency:before {
  width: 19px;
  height: 19px;
  background-image: url('./images/drop_icon.svg');
}

.dose__qty .qty-text {
  max-width: 30px;
}

.popup_type_about[id="about-drops-forms"] .doses {
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 200px;
}

.popup_type_about[id="about-drops-forms"] .about__text {
  margin-top: 0;
  letter-spacing: -0.65px;
}

.popup_type_about[id="about-drops-forms"] .about__image {
  position: absolute;
  bottom: 10%;
  right: 23%;
}




